/* Base Styles */

:root {
    font-size: 10px;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    align-content: center;
}

 img {
    display: block;
    width: 100%;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.gallery {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
    margin-top: 3rem;
}
/*Profile section*/

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.profile-image {
    float: left;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}
.profile-user-settings {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.profile-user-name {
    font-size: 2.2rem;
    font-weight: 550;
    margin-right: 1rem;
}

.button {
    display: inline-block;
    background-color: aliceblue;
    border: 3rem;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 550;
    cursor: pointer;
}

.profile-stats {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.profile-stats ul {
    display: flex;
    gap: 2rem;
}
.profile-stats-count {
    font-weight: 550;
}
.profile-bio {
    text-align: center;
}
.profile-real-name {
    font-weight: bold;
    font-size: 1rem;
}
 /*Gallery*/

 .gallery {
    display: grid;
    grid: template columns 100px 100px 100px;
    column-gap: 10px;
    margin:2rem
 }
 .gallery-item {
    position: relative;
 }
 .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
 }

 .gallery-item-likes {
    display: flex;
    align-items: center;
    
 }
 .gallery-item-comments {
    display: flex;
    align-items: center;
 }
 .gallery-item-type{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-shadow: 0.2rem;
 }
 